*, ::before, ::after {
    box-sizing: border-box;
    font-family: proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    padding: 0;
    margin: 0;
}

.style {
    text-transform: uppercase;
    font-weight: 600;
}

.header-container {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    padding: 37px 48px;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 0;
}

.nav-links-container {
    /* border: 1px solid blue; */
    margin-left: 303.5px;
    margin-right: 303.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 100%;
    position: relative;
}

.logo {
    padding-top: 4.625px;
    padding-bottom: 4.625px;
}

.nav-container {
    /* border: 1px solid green; */
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
    position: absolute;
    top: -3px;
    left: 292px;
}

.unordered-list {
    margin-left: 211.578px;
    display: flex;
    list-style: none;
}

.link {
    display: inline-block;
    list-style: none;
    padding: 8px 48px;
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
    font-size: 20px;
    font-weight: 300;
}

.hero-container {
    /* border: 1px solid blue; */
    background: linear-gradient(180.43deg, 
                rgba(0,0,0,0.60) 0%, 
                rgba(0,0,0,0.80) 100%), 
                url("https://images.unsplash.com/photo-1517976487492-5750f3195933?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    width: 100%;
    height: auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding-bottom: 144px;
    padding-top: 144px;
    margin-bottom: 32px;
    background-size: cover;
    background-position: 50%!important; 
}

.hero-text-container {
    /* border: 1px solid red; */
    margin-left: 351.5px;
    margin-right: 351.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    height: auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.row {
    /* border: 1px solid green; */
    padding-left: 17.5px;
    padding-right: 17.5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.main-titles {
    /* border: 1px solid pink; */
    margin-bottom: 24px;
    color: #fff;
    display: block;
    font-size: 64px;
    font-weight: 300;
}

.hero-paragraph {
    font-size: 1.875rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 16px;
}

.main-buttons {
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 48px;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 221px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #fff;
}

.main-buttons:hover {
    background-color: rgba(255, 255, 255, .9);
}

.button-links {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.main-container {
    /* border: 1px solid red; */
    margin: 72px 368px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.title-main-row {
    /* border: 1px solid blue; */
    margin: 20px 17.5px;
}

.title-main-column {
    padding-left: 17.5px;
    padding-right: 17.5px;
    position: relative;
}

.subheadings {
    text-align: center;
    color: #000;
    font-weight: 300;
    font-size: 30px;
}

.card-row-container {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.card-container {
    border: 1px solid rgba(0, 0, 0, .125);
    width: 564px;
    height: auto;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    left: -20px;
}

.card-image {
    height: auto;
    width: 564px;
}

.card-body {
    padding: 13px;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

.card-title {
   margin-bottom: 12px; 
}

.card-link {
   font-size: 16px;
   font-weight: 500;
   color: #814ebf; 
}

#card-2 {
    position: relative;
    left: 20px;
}

.image-and-description-container {
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    margin-top: 72px;
    margin-bottom: 50px;
}

.image-container {
    /* border: 1px solid green; */
    height: auto;
    position: relative;
    left: -36px;
}

.row-image {
    width: 757.250px;
    height: 531.797px;
}

.image-description-container {
    /* border: 1px solid brown; */
    padding: 25px;
    width: 490px;
    color: #fff;
    background-image: url("https://rocketman.learnwagtail.com/static/images/grey-pattern.b4f896f3f272.png");
    position: absolute;
    top: 308px;
    left: 607px;
}

.description-heading {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: -4px;
    margin-top: 0;
}

.description-paragraph {
    font-weight: 300;
    font-size: 21px;
    max-width: 385px;
}

#move-image-right {
    position: relative;
    left: 374px;
}

#move-description-left {
    position: absolute;
    left: 44px;
    top: 321px;
}

.main-content-container {
    /* border: 1px solid blue; */
    margin-top: 130px;
    margin-bottom: 30px;
}

#purple-button {
    margin-left: auto;
    margin-right: auto;
    background-color: #814ebf;
    border-color: #814ebf;
}

button a {
    color: #fff;
    text-decoration: none;
}

.testimonial-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.testimonial {
    text-align: center;
}

.testimonial-heading  {
    /* border: 1px solid brown; */
    max-width: 730px;
    font-weight: 900;
    font-style: italic;
    color: #000;
    font-size: 30px;
    margin-left: 200px;
}

.testimonial-paragraph {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #000;
    margin-top: 10px;
}

.section-container {
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 144px;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #814ebf;
}

.section-content-container {
    display: flex;
    flex-direction: row;
    margin-left: 351.5px;
    margin-right: 351.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
}

.section-text-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.text-header {
    margin-bottom: 24px;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}

.text-paragraph {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    max-width: 740px;
}

.section-button-container {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 199px;
}

.footer-container {
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #000;
    display: flex;
}

#grid-container {
    /* border: 1px solid blue; */
    margin-left: 351.5px;
    margin-right: 351.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.links-container {
    color: #fff;
}

.item {
    /* border: 1px solid red; */
    color: #fff;
}

.grey-text {
    color: #858585;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 13px;
}

.footer-images {
    margin-right: 20px;
}

.footer-links {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    padding-bottom: 4px;
    text-decoration: none;
}

.item6 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 5;
}

.big-margin {
    margin-bottom: 16px;
}

.footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
}

.item7 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 5;
}

.small-margin {
    margin-bottom: 2px;
}

.item8 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 5;
}