*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-container {
    /* border: 1px solid red; */
    padding: 70px;
    color: #000;
    background-color: #000;
    display: flex;
    width: 100%;
    border-bottom: #ccc;
}

.logo-container {
    /* border: 1px solid red; */
    flex-basis: 30%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    /* width: 100%; */
}

.logos {   
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 140px;
}

.title-container {
    /* border: 1px solid blue; */
    flex-basis: 40%;
    margin: auto;
    text-align: center;
    /* width: 100%; */
}

.h1-headers { 
    color: #fff;
    font-size: 40px;
    padding: 30px;
}

.nav-container {
    /* border: 1px solid green; */
    flex-basis: 20%;
    flex: 1;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    /* width: 100%; */
}

.navbar-list, .navbar-links {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.links {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.links:hover {
    color: #808080;
    transition: 0.5s;
}

.main-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

.button-container {
    padding: 30px;
    /* border: 1px solid blue; */
    background-color: #808080;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#randomize-button {
    padding: 30px;
    margin: auto;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #000;
}

#randomize-button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: 0.5s;
}

.paragraph-container {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    word-wrap: wrap;
    flex-direction: column;
}

.image-container {
    height: auto;
    width: 100%;
    /* border: 1px solid green; */
}

.details-container {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 30px;
}

.header {
    text-align: center;
    padding: 20px;
}

.footer-container {
    border: 1px solid #808080;
    background-color: #808080;
    width: 100%;
    height: auto;
    padding: 30px;
}

@media (max-width: 755px) {
    * {
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
    }

    .header-container {
        flex-direction: column;
    }

    .details-container {
        width: 100%;
    }
}